ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 75%;
    height:150%;
    background-color: black;
 
  }
  
  li a {
    display: flex;
    align-items: center;
    color:white;
    padding: 8px 16px;
    text-decoration: none;
    font-family: sans-serif;
  }
  

  li a:hover {
    text-shadow:1px 1px 5px white;
  }

  #logo{
    width:250px;
  }

  .extras{
    display: flex;
    align-items: center;
    color:grey;
    text-decoration: none;
    font-family: sans-serif;
    bottom: 100%;
    margin-top: 65%;
  }